 * {
    margin: 0px;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
 }

 body {
     background: rgba(170, 171, 173, 0.658);
     font: 14px sans-serif;
     color: rgba(0, 0, 0, 0.829);
 }
